.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.drag-and-drop {
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.unordered-list:first-child {
    margin-right: 16px;
}

.unordered-list {
    padding: 32px;
    min-height: 100px;
    width: 250px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: lightblue;
    border: 1px solid teal;
    border-radius: 8px;
    font-size: 18px;
}

.item:not(:last-child) {
    margin-bottom: 18px;
}

.item:hover {
    cursor: grab;
    transition: 300ms;
    opacity: 0.7;
}

.item:active {
    cursor: grabbing;
}

.item.sortable-chosen {
    transform: translateX(12px);
}

.item.sortable-ghost {
    opacity: 0.25;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.primary {
    margin-right: 12px;
}
